.site-layout {

  .site-menu {
    min-height: 100vh;
  }

  .site-layout-sub-header-background {
    background: #fff;
  }

  .site-layout-background {
    min-height: 100vh;
    background: #fff;
  }
}
